<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- aplication.yml에 정의한 log level, dir, filename 데이터를 정의 -->
    <springProperty scope="context" name="LOG_LEVEL" source="project.logging.level"/>
    <springProperty scope="context" name="LOG_DIR" source="project.logging.dir"/>
    <springProperty scope="context" name="FILE_NAME" source="project.logging.filename"/>
    <property name="LOG_PATTERN_CONSOLE" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %boldGreen(%-5level) %boldMagenta(${PID:-})
    %boldCyan(%t) %boldYellow(%class{36}_%M) %boldWhite(L:%L) %red(%logger{36}) %n %boldRed(     >) %m%n"/>
    <property name="LOG_PATTERN_FILE" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [${PID:-}] [%t] [%class{36}_%M]
    [L:%L] %logger{36}  %n   > %msg%n"/>

    <!--콘솔에 로그-->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>${LOG_PATTERN_CONSOLE}</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--파일에 로그 & Rolling 정책-->
    <appender name="File" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${FILE_NAME}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>${LOG_PATTERN_FILE}</Pattern>
            <charset>UTF-8</charset>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/rolling/${FILE_NAME}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>15MB</maxFileSize>  <!-- 파일 최고 용량 -->
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>180</maxHistory>  <!-- 일자별 로그파일 최대 보관주기(~일) -->
        </rollingPolicy>
    </appender>

    <!--에러 일 경우 파일에 로그-->
    <appender name="Error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>error</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${LOG_DIR}/${FILE_NAME}-error.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>${LOG_PATTERN_FILE}</Pattern>
            <charset>UTF-8</charset>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/rolling/${FILE_NAME}-error.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>15MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!--
        ==================================================================
        LOG LEVEL MODULE 설정 (TRACE < DEBUG < INFO < WARN < ERROR)
        org.springframework.web 패키지 아래에서 발생하는 INFO 레벨 로그를 Console, File에 남깁니다.
        root의 속성을 상속받지 않습니다.
        ==================================================================
    -->
    <root level="${LOG_LEVEL}">
        <appender-ref ref="Console"/>
        <appender-ref ref="File"/>
        <appender-ref ref="Error"/>
    </root>

</configuration>